[Unit]
Description=NUT to MQTT Bridge
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
# sudo useradd --system --no-create-home --group nogroup ups or switch to your own user & group
User=ups
Group=ups
WorkingDirectory=/opt/nut2mqtt
ExecStart=/usr/bin/python3 /opt/nut2mqtt/nut2mqtt.py
Restart=on-failure
RestartSec=5s
# Optional: log to syslog/journal with nice identification
StandardOutput=journal
StandardError=journal
SyslogIdentifier=nut2mqtt

[Install]
WantedBy=multi-user.target
